{% extends "base.html" %}
{% load static %}


{% block base_head %}
<link rel='stylesheet' href='{% static "css/recruiterscreen.css" %}'>
{% endblock%}


{% block content %}

<div class="col-12 col-md-6">

<h1>{{title}}</h1>

<form method='POST' action='' class="col-12 col-md-6" enctype="multipart/form-data"> {% csrf_token %}
<br><br><br><br>

<div class="row">
    <div>
         <p>Date of Screen: {{form.screen_date}}</p>
    </div>
</div>

<br>

<div class="row">
    <div>
        <p>Candidate Name: {{form.candidatename}}</p>
    </div>
</div>
<br>

<div class="row">
    <div>
        <p>Email: {{form.email}}</p>
    </div>
</div>
<br>

<div class="row">
    <div>
        <p>Experience: </p>
    {{form.experience}}
    </div>
</div>


        <p>Leadership: </p>
    {{form.leadership}}

        <p>Motivation: </p>
    {{form.motivation}}

        <p>Compensation: </p>
    {{form.compensation}}

        <p>Additional Comments: </p>
    {{form.additional_comments}}


<br><br>
     <p>What type of visa status do they currently hold? </p>
     {{form.visa2}}
     <br>
     <p>If Other: </p>
     {{form.visa7}}
     <br>

<br>
    <p>Does the candidate have the unrestricted right to work indefinitely in the United States? What is the candidate's current status? </p>
    {{form.visa1}}

    <br>

    <br>
    <p>If sponsorship is required, when does the candidate's current U.S. Immigration status expire?</p>
    {{form.visa3}}

    <br>
    <p>If in H-1B status, how much time does he or she have remaining towards the 6 year limit?</p>
    {{form.visa4}}

    <br>
    <p>If on OPT, is the candidate eligible for a STEM extension? If so, what is the expected expiration date of their STEM extension?</p>
    {{form.visa5}}

    <br>
    <p>Is the candidate in the green card process? Does he or she have a certified PERM? Does he or she have an approved I-140, and have 180 days passed since approval? </p>
    {{form.visa6}}


<br><br><br><br>
<button class="button" type="submit" name="action" value='Save'>Save Notes</button>

</div>
{% endblock %}
